<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test jquery pllugin</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <style media="screen">
      .red{
        color: red;
      }
    </style>
  </head>
  <body>
    <ul class="demo-wrap">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>
